<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="fname">
            <h3>KingFish</h3>
        </div>
        <div class="navbar">
            <nav class="nav">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Resume</a>
                <a href="">Blog</a>
                <a href="">Contact</a>
                <a href="">Email Me</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="desc">
            <h1>Software developer in the making!</h1><br>
            <p>Hi! I'm Kiprotich, focusing on a path software development</p>
        </div>
        <div class="profile"></div>
    </main>
    <footer>
        <div>
            <h5>ABOUT MYSELF</h5>
            <p>I'm a Creative director based on Nairobi, who has passion in tech. I also enjoy history..</p>
            <button>DOWNLOAD RESUME</button>
        </div>
    </footer>
</body>
</html>